html{
    font-size: 1em;
    font-family: sans-serif;
}   

body{
    border: 3px dashed blue;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
}

header{
    text-align: left;
    border: 3px solid black;
    font-size: 2rem;
    padding: 5px;
    
}

main{
    text-align: left;
    border: 3px solid orangered;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    padding: 10px;
}

.main{
    display: flex;
}

article{
    border: 3px solid red;
    margin: 5px;
    padding: 5px;
    font-size: 1.5rem;
    width: 50%;
}

aside{
    border: 3px solid black;
    padding: 5px;
    width: 50%;
    margin: 5px;
    text-align: center;
    
}

.section-1{
    font-size: 1em;
    border: 3px dashed purple;
    padding: 5px;
    margin: 5px;
}

.section-2{
    border: 3px dashed green;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
}

footer{
    border: 3px solid greenyellow;
    padding: 5px;
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
}

.lu{

    
    border: 3px solid yellow;
    padding: 5px;

}

.lista{
    display: flex;
    justify-items: center;
}

li{
    border: 3px solid gray;
    margin: 5px;
}